@import "bgimg.css";
@import "clock.css";
@import "todolist.css";
@import "countdown.css";
@import "greeting.css";
@import "weather.css";

h2 {
  color: whitesmoke;
}

ul,
li {
  list-style: none;
  padding-left: 0px;
}
